
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="../../Resources/style.css" />
</head>
<body>
    <nav>
        <h1>Login</h1>
    </nav>
    <div class="SideBar">
        <br />
        <a href="../Home/Index">Home</a>
    </div>

    <div class="Content"> 
        <br />
        <form action="Login" method="post">
            UserName:
            <input type="text" name="username" />
            <br />
            PassWord:
            <input type="password" name="password" />
            <br />
            <input type="submit" value="Submit" />
        </form>
        @ViewBag.User

        <p>Dont have a account? <a href="../Login/Register">Register</a></p>
    </div>
</body>
</html>
