
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="../../Resources/style.css" />
</head>
<body>
    <nav>
        <h1>Register</h1>
    </nav>
    <div class="SideBar">
        <br />
        <a href="../Home/Index">Home</a>
        <br />
        <br />
        <a href="../Login/Login">Login</a>
    </div>
    <div class="Content">
        <br />
        <form action="Register" method="post">
            UserName:
            <input type="text" name="username" />
            <br />
            PassWord:
            <input type="password" name="password" />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
