
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="Index" method="post">
            
            <input type="radio" name="Animal" value="../../Images/Fish.jpg" id="Fish" checked/>
                <label for="Fish">
                    <img src="../../Images/Fish.jpg" width="300px" />
                </label>
            
            <input type="radio" name="Animal" value="../../Images/Lion.jpg" id="Lion"/>
                <label for="Lion">
                    <img src="../../Images/Lion.jpg" width="300px" />
                </label>          
            
            <input type="radio" name="Animal" value="../../Images/Squirrel.jpg" id="Squirrel"/>
                <label for="Squirrel">
                    <img src="../../Images/Squirrel.jpg" width="300px" />
                </label>

            
            <input type="radio" name="Animal" value="../../Images/Zebra.jpg" id="Zebra"/>
                <label for="Zebra">
                    <img src="../../Images/Zebra.jpg" width="300px" />
                </label>

            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
