<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ_ReadFrom_DB.Properties.Settings.IN710_201701_muldnd1ConnectionString"
            connectionString="Data Source=bitdev.ict.op.ac.nz;Initial Catalog=IN710_201701_muldnd1;User ID=MULDND1"
            providerName="System.Data.SqlClient" />
        <add name="LINQ_ReadFrom_DB.Properties.Settings.IN710_201701_muldnd1ConnectionString1"
            connectionString="Data Source=bitdev.ict.op.ac.nz;Initial Catalog=IN710_201701_muldnd1;User ID=MULDND1;Password=NMu_D46A"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>