@model Week11_1Prac.Models.Hoilday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>It is @ViewBag.DaysLeft days until @ViewBag.Name</p>
        <img src=@ViewBag.Image width="400px">
    </div>
</body>
</html>
